<div class="gov-color">
    <div class="gov-logo-container">
        <img src="https://www.adres.gov.co/PublishingImages/Header%20Logos/img-govco.svg">
    </div>
</div>
<nav class="menu-container">
    <div class="logo-box">
        <img src="../../../assets/images/letters_only.png">
    </div>
    <div class="buttons-box">
        <p-button label="Inicio" icon="pi pi-home" (click)="toHome()" variant="text" />
        <p-button label="Auditoría" icon="pi pi-eye" (click)="toHome()" variant="text" />
    </div>
</nav>