<!-- Componente de la vista de listado de adquisiciones -->
<section>
  <p-card header="Adquisiciones registradas">
    <div class="header-block">
      <div class="button-block">
        <p-button (click)="showDialog()" icon="pi pi-sliders-v" label="Filtrar" variant="text" />
        <p-button label="Registrar adquisición" icon="pi pi-plus" (click)="toCreate()" />
      </div>
    </div>
    <p-table [value]="acquisitions" [paginator]="acquisitions.length>5" [rows]="5" [responsive]="true"
      selectionMode="single" [(selection)]="acquisitionSelected" (onRowSelect)="onRowSelect($event)"
      [responsive]="true">

      <!-- Header de la tabla -->
      <ng-template pTemplate="header">
        <tr>
          <th>Unidad</th>
          <th>Tipo</th>
          <th>Valor Total</th>
          <th>Proveedor</th>
          <th>Fecha Adquisición</th>
        </tr>
      </ng-template>

      <!-- Cuerpo de la tabla -->
      <ng-template pTemplate="body" let-item>
        <ng-container *ngIf="acquisitions && acquisitions.length > 0">
          <tr [pSelectableRow]="item">
            <td>{{ item?.unidad | unitName | async}}</td>
            <td>{{ item?.tipoBienServicio | assetTypeName | async }}</td>
            <td>{{ item?.valorTotal | currency:'USD' }}</td>
            <td>{{ item?.proveedor | providerName |async}}</td>
            <td>{{ item?.fechaAdquisicion }}</td>
          </tr>
        </ng-container>
      </ng-template>
    </p-table>
  </p-card>
</section>


<p-dialog header="Filtrar Adquisiciones" [modal]="true" [(visible)]="visible">
  <div class="filters">
    <form [formGroup]="filterForm">
      <fieldset>
        <div class="filter-form">
          <!--Unidad  -->
          <div class="unit-block">
            <label for="unidad">Unidad</label>
            <p-dropdown id="unidad" [options]="unities" formControlName="unidad" optionLabel="nombre" optionValue="id"
              placeholder="Seleccione una unidad" [showClear]="true">
            </p-dropdown>
          </div>
          <!--Tipo Bien Servicio -->
          <div class="asset-block">
            <label for="tipoBienServicio">Tipo de Bien/Servicio</label>
            <p-dropdown id="tipoBienServicio" [options]="assetTypes" formControlName="tipoBienServicio"
              optionLabel="nombre" optionValue="id" placeholder="Seleccione un tipo de bien/servicio"
              [showClear]="true">
            </p-dropdown>
          </div>
          <!-- Proveedor -->
          <div class="provider-block">
            <label for="proveedor">Proveedor</label>
            <p-dropdown id="proveedor" [options]="providers" formControlName="proveedor" optionLabel="nombre"
              optionValue="id" placeholder="Seleccione un proveedor" [showClear]="true">
            </p-dropdown>
          </div>
        </div>
      </fieldset>
    </form>
    <div class="filter-buttons">
      <p-button label="Aplicar" icon="pi pi-check" (click)="filter()" />
      <p-button label="Resetear" icon="pi pi-undo" (click)="resetFilter()" />
    </div>
  </div>
</p-dialog>