/* Estilo general para la tabla y el contenedor */
.my-card {
    margin-top: 30px;
  }
  
  .d-flex {
    display: flex;
  }
  
  .justify-content-end {
    justify-content: flex-end;
  }
  
  .mb-3 {
    margin-bottom: 16px;
  }
  
  /* Personalización de los botones */
  .p-button-warning {
    background-color: #ff9800;
    border-color: #ff9800;
  }
  
  .p-button-danger {
    background-color: #f44336;
    border-color: #f44336;
  }
  
  .p-button-primary {
    background-color: #00b3b3;
    border-color: #00b3b3;
    font-weight: bold;
  }
  
  .p-button-text {
    background-color: #00b3b3;
    color: white;
  }
  
  /* Mensajes de "No hay resultados" */
  .p-table .text-center {
    color: #888;
    font-size: 16px;
  }

  .input-item {
    flex: 1 1 30%;   /* Cada input ocupa aproximadamente el 30% del ancho */
    min-width: 200px; /* Limita el tamaño mínimo de cada input */
  }
  
  .input-item label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-item input {
    width: 100%;  /* Asegura que cada input ocupe todo el espacio disponible dentro de su contenedor */
  }

  .input-grid {
    display: flex;
    flex-wrap: wrap;  /* Esto permite que los elementos se muevan a la siguiente línea si no caben */
    gap: 15px;        /* Espaciado entre los elementos */
  }

  .filter-container {
    display: flex;
    gap: 1rem; /* Espaciado entre los dropdowns */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 3rem;
  }
  
  .filter-container select {
    flex: 1;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .filter-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .filter-buttons button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .btn-filter {
    background-color: transparent;
    color: rgb(41, 139, 219);
  }
  
  .btn-reset {
    background-color: transparent;
    color: rgb(41, 139, 219);
  }

  :host ::ng-deep .p-datatable-wrapper {
    height: 30vh;
  }