<!-- Componente de la vista de listado de adquisiciones -->
<section>
  <p-card header="Filtrar Adquisiciones" [style]="{'height':'70%'}">
    <button pButton label="Registrar adquisición" icon="pi pi-plus" (click)="toCreate()"></button>
    <p-table [value]="acquisitions" [paginator]="true" [rows]="5" [responsive]="true" selectionMode="single" [(selection)]="acquisitionSelected" (onRowSelect)="onRowSelect($event)" [responsive]="true" styleClass="p-datatable-sm">
    
      <!-- Header de la tabla -->
      <ng-template pTemplate="header">
        <tr>
          <th>Unidad</th>
          <th>Tipo</th>
          <th>Valor Total</th>
          <th>Proveedor</th>
          <th>Fecha Adquisición</th>
        </tr>
      </ng-template>
  
      <!-- Cuerpo de la tabla -->
      <ng-template pTemplate="body" let-item>
        <ng-container *ngIf="acquisitions && acquisitions.length > 0">
          <tr [pSelectableRow]="item">
            <td>{{ item?.unidad | unitName | async}}</td>
            <td>{{ item?.tipoBienServicio | assetTypeName | async }}</td>
            <td>{{ item?.valorTotal | currency:'USD' }}</td>
            <td>{{ item?.proveedor | providerName |async}}</td>
            <td>{{ item?.fechaAdquisicion }}</td>
          </tr>
        </ng-container>
      </ng-template>
    </p-table>
  </p-card >
  <p-card header="Filtrar Adquisiciones" [style]="{'height':'30%'}">
    <button pButton label="Filtrar" icon="pi pi-sliders-v" (click)="filter()"></button>
    <button pButton label="Limpiar Filtro" icon="pi pi-undo" (click)="resetFilter()"></button>
    <form
      [formGroup]="filterForm">
      <fieldset>
        <legend>Campos</legend>
        <!--Unidad  -->
        <label for="unidad">Unidad</label>
        <p-dropdown 
              id="unidad"
              [options]="unities" 
              formControlName="unidad"
              optionLabel="nombre"
              optionValue="id"
              placeholder="Seleccione una unidad"
              [showClear]="true">
            </p-dropdown>
        <div *ngIf="filterForm.get('unidad')?.invalid && filterForm.get('unidad')?.touched" class="text-danger">
          <small>Unidad es obligatoria.</small>
        </div>
        <!--Tipo Bien Servicio -->
        <label for="tipoBienServicio">Tipo de Bien/Servicio</label>
        <p-dropdown 
              id="tipoBienServicio"
              [options]="assetTypes" 
              formControlName="tipoBienServicio"
              optionLabel="nombre"
              optionValue="id"
              placeholder="Seleccione un tipo de bien/servicio"
              [showClear]="true">
            </p-dropdown>
        <div *ngIf="filterForm.get('tipoBienServicio')?.invalid && filterForm.get('tipoBienServicio')?.touched" class="text-danger">
          <small>Tipo de Bien/Servicio es obligatorio.</small>
        </div>
        <!-- Proveedor -->
        <label for="proveedor">Proveedor</label>
        <p-dropdown 
              id="proveedor"
              [options]="providers" 
              formControlName="proveedor"
              optionLabel="nombre"
              optionValue="id"
              placeholder="Seleccione un proveedor"
              [showClear]="true">
            </p-dropdown>
        <div *ngIf="filterForm.get('proveedor')?.invalid && filterForm.get('proveedor')?.touched" class="text-danger">
          <small>Proveedor es obligatorio.</small>
        </div>
      </fieldset>
    </form>
  </p-card>
</section>