html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evita el desbordamiento de la página */
  }
  
  app-root {
    height: 80%;  /* Ocupa toda la altura de la ventana */
    overflow: auto;  /* Si el contenido excede la altura, agrega scroll */
  }