<!-- Componente para agregar una adquisición -->
<section>
  <p-card header="Registrar Adquisición">
    <div class="header-block">
      <div class="button-block">
        <p-button label="Volver" icon="pi pi-angle-left" (click)="toList()" variant="text" />
        <p-button label="Guardar" icon="pi pi-save" (click)="onSubmit()" />
      </div>
    </div>
    <form [formGroup]="formAcquisition">
      <fieldset>
        <div class="parent">
          <!--Presupuesto  -->
          <div class="div1">
            <label for="presupuesto">Presupuesto</label>
            <input type="text" pInputText id="presupuesto" formControlName="presupuesto" placeholder="Presupuesto"
              [ngClass]="{'ng-invalid ng-dirty': formAcquisition.get('presupuesto')?.invalid && formAcquisition.get('presupuesto')?.touched}">
          </div>
          <!--Unidad  -->
          <div class="div2">
            <label for="unidad">Unidad</label>
            <p-dropdown id="unidad" [options]="unities" formControlName="unidad" optionLabel="nombre" optionValue="id"
              placeholder="Seleccione una unidad" [showClear]="true">
            </p-dropdown>
          </div>
          <!--Tipo Bien Servicio -->
          <div class="div3">
            <label for="tipoBienServicio">Tipo de Bien/Servicio</label>
            <p-dropdown id="tipoBienServicio" [options]="assetTypes" formControlName="tipoBienServicio"
              optionLabel="nombre" optionValue="id" placeholder="Seleccione un tipo de bien/servicio"
              [showClear]="true">
            </p-dropdown>
          </div>
          <!-- Cantidad -->
          <div class="div4">
            <label for="cantidad">Cantidad</label>
            <input type="number" pInputText id="cantidad" formControlName="cantidad" placeholder="Cantidad"
              [ngClass]="{'ng-invalid ng-dirty': formAcquisition.get('cantidad')?.invalid && formAcquisition.get('cantidad')?.touched}">
          </div>
          <!-- Valor Unitario -->
          <div class="div5">
            <label for="valorUnitario">Valor Unitario</label>
            <input type="number" pInputText id="valorUnitario" formControlName="valorUnitario"
              placeholder="Valor Unitario"
              [ngClass]="{'ng-invalid ng-dirty': formAcquisition.get('valorUnitario')?.invalid && formAcquisition.get('valorUnitario')?.touched}">
          </div>
          <!-- Valor Total -->
          <div class="div6">
            <label for="valorTotal">Valor Total</label>
            <input type="number" pInputText id="valorTotal" formControlName="valorTotal" placeholder="Valor Total"
              [ngClass]="{'ng-invalid ng-dirty': formAcquisition.get('valorTotal')?.invalid && formAcquisition.get('valorTotal')?.touched}">
          </div>
          <!-- fecha adquisicion -->
          <div class="div7">
            <label for="fechaAdquisicion">Fecha de Adquisición</label>
            <input type="date" pInputText id="fechaAdquisicion" formControlName="fechaAdquisicion"
              placeholder="Fecha de Adquisición"
              [ngClass]="{'ng-invalid ng-dirty': formAcquisition.get('fechaAdquisicion')?.invalid && formAcquisition.get('fechaAdquisicion')?.touched}">
          </div>
          <!-- Proveedor -->
          <div class="div8">
            <label for="proveedor">Proveedor</label>
            <p-dropdown id="proveedor" [options]="providers" formControlName="proveedor" optionLabel="nombre"
              optionValue="id" placeholder="Seleccione un proveedor" [showClear]="true">
            </p-dropdown>
          </div>
          <!-- Documentación -->
          <div class="div9">
            <label for="documentacion">Documentación</label>
            <input type="text" pInputText id="documentacion" formControlName="documentacion" placeholder="Documentación"
              [ngClass]="{'ng-invalid ng-dirty': formAcquisition.get('documentacion')?.invalid && formAcquisition.get('documentacion')?.touched}">
          </div>
        </div>
      </fieldset>
    </form>
    <p-divider />
  </p-card>
</section>